@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


body {
    @apply text-black bg-white dark:bg-black dark:text-white;
}

/* 
.game-char-input {
    @apply size-20 rounded-xl bg-transparent border-2 border-yellow-400 dark:border-yellow-300 text-7xl font-mono text-yellow-400 dark:text-yellow-300 focus:outline-none text-center
} */

.game-char-input {
    /* @apply flex items-center self-center justify-center col-span-1 text-2xl capitalize bg-transparent border-2 aspect-square rounded-3xl; */
    @apply flex self-center justify-center col-span-1 px-2 pb-10 text-2xl capitalize bg-transparent border-b-2 aspect-square;
}

.game-char-input-default {
    @apply text-yellow-400 border-yellow-400;
}

.game-char-input-correct {
    @apply border-emerald-600 text-emerald-600 dark:border-emerald-300 dark:text-emerald-300
}

.game-menu-bar {
    @apply fixed flex h-12 -translate-x-1/2 bottom-3 left-1/2 gap-x-2;
}

.container {
    @apply px-3 py-2 rounded-full
}

.bg-container {
    @apply bg-gray-200 dark:bg-gray-900 text-black dark:text-white
}

.bg-primary {
    @apply bg-yellow-400 dark:text-black
}